.make_info{
    width: 55vw;
    height: 100vh;
    background-color: darkorange;
    margin: 0;
    .backgrounds{
        .background_title_div{
            width: 35vw;
            .background_title{
                font-size: 22px;
                margin-left: 1vw;
            }
        }

        .backgrounds_items{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 20vw;
    
            .backgrounds_item{
                width: 70px;
                height: 70px;
                background-color: brown;
                border-radius: 16px;
            }
        }
    }
}