// Templates 

%view_info_resume {
    width: 35vw;
    height: 85vh;
    background-color: brown;
    border: 1px black solid;
    border-radius: 4px;
}



// SCSS code

.view_info_div {

    .view_info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45vw;
        height: 100vh;
        background-color: darkgreen;
        margin: 0;
        position: fixed;
        top: 0%;
        left: 55vw;


        .view_info_resume_background1 {
            background-image: url("../Resume_backgrounds/image_1.png");
            @extend %view_info_resume;
        }

        .view_info_resume_background2 {
            background-image: url("../Resume_backgrounds/image_2.png");
            @extend %view_info_resume;
        }

        .view_info_resume_background3 {
            background-image: url("../Resume_backgrounds/image_3.png");
            @extend %view_info_resume;
        }

        .title_section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 8px 0px 8px 0px;
            font-size: 14px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            .title_text_div {
                display: flex;
                justify-content: center;
                align-items: center;
                // padding: 10px;
                .title_text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                    height: 30px;
                    background-color: rgb(11, 110, 6);
                    border-radius: 8px;
                    .title_text_style{
                        margin: 0;
                        // text-align: center;
                        // vertical-align: middle;
                        // padding: 5px;
                    }
                }
            }


            .title_line {
                width: 26vw;
                height: 2px;
                border-radius: 16px;
                background-color: #333;
            }
        }

    }
}