.education_section_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    .education_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30vw;
    }
}