.image_border_input{
    background-color: grey;
    // color: grey;
    appearance: none;
    border-radius: 16px;
    height: 10px;
    width: 300px;
    z-index: 2;
}

.image_border_input::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
}