.view_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 18vh;
    background-color: #333;
    margin: 0;

    .view_header_div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 31vw;

        .view_image {
            width: 110px;
            height: 110px;
            // background: url('../../Resume_backgrounds/image_3.png');
            border-radius: 8px;
            margin-right: 16px;
        }

        .name_surname_text {
            font-size: 1em;
            font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace;
            margin: 0;
        }

        .name_mail_tel_address_div {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: 100px;

            .view_contact_element {
                display: flex;
                // justify-content: center;
                align-items: center;
                margin: 0;

                .contact_icon {
                    margin-right: 5px;
                }

                .view_contact_element_text {
                    margin: 0;
                }
            }
        }
    }
}